<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/modules.css">
</head>
<body>
      
    <!-- Top Navigation Menu -->
    <div class="topnav">
      <h2>Best Book!</h2>
      <div id="myLinks">
        <a href="../index">Home</a>
        <a href="new">Search for google books API</a>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    
  
    <header>
        <h1> Search by Title or Author </h1>
    </header>
    <main>
        <form action="/searches" method="post">
        <input type="text" placeholder="Enter a Title or Author" name="search"><br>
        <label>Title
        <input type="radio" id="first-radio" name="radio" value="title">
        </label><br>
        <label>Author
        <input type="radio" name="radio" value="author">
        </label><br>
        <button>Search for Google Books API </button>
      </form>
    </main>
    <script>
        function myFunction() {
          var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
        </script>
</body>
</html>