<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <header>
        <h1>Search by Title or Auther</h1>
    </header>
    <main>
        <form>
               <input type="text" placeholder="Enter a title or auther">
               <label>Title</label>
               <input type="radio" placeholder="Enter a title or auther">
               <label>Auther</label>
               <input type="radio" placeholder="Enter a title or auther"><br>
               <button>Search for google books API</button>
        </form>
    </main>
</body>
</html>